[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group M&M
	owner = group user/marekmagik
[access "refs/for/refs/*"]
	read = group M&M
	read = group user/marekmagik
	push = group M&M
	push = group user/marekmagik
	label-Code-Review = -2..+2 group M&M
	label-Code-Review = -2..+2 group user/marekmagik
	label-Verified = -1..+1 group M&M
	label-Verified = -1..+1 group user/marekmagik
	rebase = group M&M
	rebase = group user/marekmagik
	removeReviewer = group M&M
	removeReviewer = group user/marekmagik
	submit = group M&M
	submit = group user/marekmagik
[access "refs/heads/*"]
	read = group M&M
	read = group user/marekmagik
	create = group M&M
	create = group user/marekmagik
	push = group M&M
	push = +force group user/marekmagik
	pushMerge = group M&M
	pushMerge = group user/marekmagik
[access "refs/tags/*"]
	push = group M&M
	push = +force group user/marekmagik
	pushTag = group M&M
	pushTag = group user/marekmagik
	pushSignedTag = group M&M
	pushSignedTag = group user/marekmagik
